{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YKEA - Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'ykea/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'ykea/css/shop-homepage.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Y K E A</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'comparator'%}">Comparator</a>
            </li>  
            {% if auth %}
                <li class="nav-item">
                <a class="nav-link" >User: {{user}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Money: {{money}}</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'register'%}">Register</a>
                </li>
            {% endif %}

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Categories</h1>
          <div class="list-group">
            {% if categories %}
                {% for elem, descrip in categories%}
                    <a href="{% url 'items' elem%}" class="list-group-item"> {{descrip}}  </a>
                {% endfor %}
            {% endif %}
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9" id="comparator">
          <h1 class="my-4">Comparator</h1>
          <br><br>
          <b>Quering: </b>{{ips}}
          <br>
          <b>Category:</b>
          {% if categories2 %}
              <select id="categoryList">
                {% for elem, descrip in categories2 %}
                    <option value={{elem}}>{{descrip}}</option>
                {% endfor %}
                </select>
          {% else %}
              <p>No categories are available.</p>
          {% endif %}

          <br>
          <b>Is new?</b>
          Yes: <input type="checkbox" id="true" onclick=(uncheckFalse())> No: <input type="checkbox" id="false" onclick=(uncheckTrue())>
          <script>
          function uncheckFalse() {
              document.getElementById("false").checked = false;
          }

          function uncheckTrue() {
              document.getElementById("true").checked = false;
          }
          </script>
          <br>
          <b>Max price: </b>
          <input id="price" type="number" size="8" min="0" max="9999999" style="text-align:right;width: 8em;" name="price">€

          <br>
          




          <button class='btn btn-warning' onclick="comparator()">Query Servers</button>
          <div id="query" class="row">

            <script>
            function comparator() {

                var category = $("#categoryList :selected").val();
                var parameters = "/?category=" + category;

                var price = $("#price").val() ;
                if(price > 0 && price){
                    parameters += "&price=" + price;
                }

                if ($("#true").is(":checked")) {
                  parameters += "&new=yes";
                }else if($("#false").is(":checked")){
                  parameters += "&new=no";
                }


                var requests = [];
                var ips = {{ips | safe}};
                var results = [];
                for(var i=0; i < ips.length; i++){
                    $("comparator").html();
                    requests.push($.ajax({url: 'https://' + ips[i] + '/api/items' + parameters, type : 'GET', dataType : 'json', error :  function(error, exception){msg = 'Error';},
                                            success: function (data){
                                            for(var j=0; j < data.results.length; j++){
                                                var entry ='<div class="card h-100"><a href="#"><img class="card-img-top" src="';
                                                if(data["results"][j]["featured_photo"]){
                                                    entry += data["results"][j]["featured_photo"];
                                                }else{
                                                    entry += "https://127.0.0.1:8000/ykea/static/images/default.jpg"
                                                }

                                                entry += '" alt=""></a><h4>';
                                                entry += data["results"][j]["name"];
                                                entry += '</h4><h5>';
                                                entry += data["results"][j]["price"];
                                                entry +='</h5><p class="card-text">';
                                                entry += data["results"][j]["description"];
                                                entry +='</p><h6> From: ';
                                                entry +=  data['results'][j]['url'].substring(8, data['results'][j]['url'].indexOf('/', 8));
                                                entry += '</h6></div></div>';

                                                var html_copy = $(entry);
                                                results.push([html_copy, data["results"][j]["price"]]);



                                            }
                                            }
                                    }));
                }
                $.when.apply($, requests).done(function() {

                  results.sort(function(a,b){return parseInt(a[1]) - parseInt(b[1]);});
                  for(var i=0; i< results.length; i++){
                      $("#query").append($('<div class="col-lg-4 col-md-6 mb-4">').html(results[i][0]).appendTo("#comparator"));
                  }

                });

            }
            </script>

          </div>
          <!-- /.row -->
        </div>
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'ykea/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ykea/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
