{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YKEA - Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'ykea/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'ykea/css/shop-homepage.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Y K E A</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home'%}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if auth %}
                <li class="nav-item">
                <a class="nav-link" >User: {{user}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Money: {{money}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'register'%}">Register</a>
                </li>
            {% endif %}

            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Categories</h1>
          <div class="list-group">
            {% if categories %}
                {% for elem, descrip in categories%}
                    <a href="{% url 'items' elem%}" class="list-group-item"> {{descrip}}  </a>
                {% endfor %}
            {% endif %}
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9" id="comparator">
          <h1 class="my-4">Comparator</h1>
          <br><br>
          {{ips}}

          <button onclick="comparator()">Query Servers</button>

            <script>
            function comparator() {
                var requests = [];
                var ips = {{ips | safe}};
                var results = [];
                var iter_ip;
                for(var i=0; i < ips.length; i++){
                    iter_ip = ips[i]
                    $("comparator").html();
                    requests.push($.ajax({url: 'https://' + ips[i] + '/api/items', type : 'GET', dataType : 'json', error :  function(error, exception){msg = 'Error'; alert(msg);},
                                            success: function (data){
                                            for(var j=0; j < data.results.length; j++){
                                                var entry ='<div class="col-lg-4 col-md-6 mb-4"><div class="card h-100"><a href="#"><img class="card-img-top" src="';
                                                if(data["results"][j]["featured_photo"]){
                                                    entry += data["results"][j]["featured_photo"];
                                                }else{
                                                    entry += "https://sd2018-ykeaa4.herokuapp.com/ykea/static/images/default.jpg"
                                                }

                                                entry += '" alt=""></a><h4>';
                                                entry += data["results"][j]["name"];
                                                entry += '</h4><h5>';
                                                entry += data["results"][j]["price"];
                                                entry +='</h5><p class="card-text">';
                                                entry += data["results"][j]["description"];
                                                entry +='</p><h6> From: ';
                                                entry += iter_ip;
                                                entry += '</h6></div></div></div>';

                                                var added_html = $(entry);
                                                $("<h5>").html(added_html).appendTo("#comparator");



                                            }
                                            }
                                    }));
                }
                $.when.apply($, requests).done(function() {
                });

            }
            </script>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'ykea/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ykea/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
